header {
    display: flex;
    justify-content: space-between;
}

header ul {
    list-style-type: none;
    display: flex;
}

header ul li {
    padding: 10px;
    padding-bottom: 0px;
}

.hero {
    display: grid;
    grid-template-rows: max-content 1fr;
}

.hero img {
    min-width: 100%;
}
